:root {
  --heading-font-family: "Kaushan Script", system-ui;
  --default-font-family: "Alkatra", system-ui;
  --branding-color: magenta;
  --secondary-color: rgb(95, 2, 95);
  --background-color: rgb(248, 227, 231);
  --box-shadow: 5px 5px 6px rgb(95, 2, 95);
}

body {
  font-family: var(--default-font-family);
}
.hero p {
  color: var(--secondary-color);
  font-size: 36px;
  line-height: 54px;
  font-weight: 700;
}
h1,
h2,
h4 {
  font-family: var(--heading-font-family);
}
h1 {
  font-size: 96px;
  line-height: 128px;
}
h2 {
  font-size: 64px;
  color: var(--secondary-color);
}
h3 {
  color: var(--secondary-color);
  font-size: 24px;
  line-height: 36px;
}
h4 {
  font-size: 48px;
}
.hero {
  padding: 100px 20px;
  text-align: center;
  background: var(--background-color);
}
.btn-branding {
  font-family: var(--default-font-family);
  color: #ffffff;
  padding: 15px 30px;
  background: var(--branding-color);
  border-radius: 5px;
  font-size: 18px;
  line-height: 27px;
  box-shadow: var(--box-shadow);
}
.btn-branding-outline {
  font-family: var(--default-font-family);
  color: var(--branding-color) !important;
  padding: 15px 30px;
  background: #ffffff;
  border: 1px solid var(--branding-color) !important;
  border-radius: 5px;
  font-size: 18px;
  line-height: 27px;
  box-shadow: var(--box-shadow);
}
.nicname {
  color: var(--secondary-color);
}
.project-description {
  padding: 100px 60px 0px;
}
.img-container {
  background: var(--background-color);
  border-radius: 7px;
}
.img-display {
  border-radius: 5px;
  margin: 40px auto;
  display: block;
  width: 95%;
}
.img-display-about {
  border-radius: 10px;
  margin: 40px auto;
  display: block;
  width: 98%;
  max-width: 560px;
}
p {
  font-size: 16px;
  line-height: 30px;
}
.content-container {
  padding: 80px 20px;
}
.content {
  margin: 30px;
}
.content-container h1 {
  font-size: 64px;
  line-height: 80px;
}
.content-container h2 {
  font-size: 18px;
  font-family: var(--default-font-family);
}
.logo {
  max-height: 50px;
  border-radius: 25px;
}
nav {
  background: var(--background-color);
  padding: 10px 20px 0px;
  border-radius: 12px;
}
nav ul {
  padding-top: 13px;
}
nav li {
  display: inline;
  font-size: 16px;
  list-style: none;
  padding-left: 10px;
}
nav a {
  color: var(--secondary-color);
  text-decoration: none;
  transition: all 100ms ease-in-out;
}
nav a:hover,
nav li.active a {
  color: var(--branding-color);
}
footer {
  margin: 60px 0px;
}
footer .contact-box {
  background: var(--background-color);
  padding: 30px 120px;
  border-radius: 10px;
}
footer .contact-box p {
  margin: 0;
}
footer .email-link {
  text-decoration: none;
  color: var(--secondary-color);
  font-size: 24px;
  transition: all 100ms ease-in-out;
}
footer .email-link:hover {
  color: var(--branding-color);
}
footer .social-links a {
  margin: 0 20px;
  color: var(--branding-color);
  background: var(--background-color);
  padding: 10px 14px;
  border-radius: 50%;
  font-size: 18px;
  transition: all 100ms ease-in-out;
}
footer .social-links a:hover {
  color: var(--background-color);
  background: var(--branding-color);
}
.logo-large {
  border-radius: 50%;
}

@media (max-width: 920px) {
  .hero {
    padding: 80px 20px;
  }
  h1 {
    font-size: 44px;
    line-height: 2;
  }
  h2 {
    font-size: 44px;
    text-align: center;
  }
  p {
    text-align: center;
  }
  .btn-branding-outline {
    display: block;
    max-width: 60%;
    margin: 0px auto;
  }
  .content-container {
    text-align: center;
    padding: 0;
  }
}
